.popup__input-container{
    min-width: 358px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 0;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 425px) {
    .popup__input-container  {
      min-width: 238px;
    }
  }